:global(.ui.basic.label):local(.toolbarBtn) {
    border: none
}

:global(.content-editable) {
    padding: 1rem;
}

:global(.content-editable:hover) {
    background: #f7f7f7;
}

:global(.content-editable:focus) {
    background: #fcf8e1;
    outline: 0;
}
