:local(.threadContent) {
    width: 500px;
    margin: 20px auto;
}

:local(.addPostForm) {
    margin-top: 20px;
}

:local(.toolbar) {
    margin: 20px 0;
}

:local(.toolbar > *) {
    padding-right: 10px;
}